.loop-tool-container {
  border: 5px solid red;
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loop-tool-container input {
  width: min-content;
  margin: 0px 5px 5px 5px;
}

.loop-tool-container label {
  margin-left: 5px;
}

.loop-tool-container .result-display {
  text-align: center;
  background-color:rgb(251, 252, 252);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  padding: 5px;
}

.loop-tool-container .explanation {
  text-align: center;
  margin: 10px;
  font-size:xx-small;
}